#banner
  .banner_content
    %h1 File Cabinet
    %p Your Life's work.  Organized, always.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Offal shoreditch pug ennui four loko franzen tilde hot chicken vinyl vexillologist mumblecore quinoa gochujang photo booth. +1 yr whatever tofu blue bottle pinterest deep v disrupt keffiyeh fingerstache PBR&B hoodie. Selfies wolf yr celiac forage, bushwick prism fanny pack. Raclette yr ethical forage. YOLO yuccie salvia, butcher snackwave you probably haven't heard of them tofu raw denim. Irony lo-fi typewriter, taiyaki beard pour-over lyft truffaut messenger bag. Narwhal marfa flannel 8-bit, authentic man bun organic seitan ugh four dollar toast kitsch.

    #bottom_cta
      .wrapper
        %h2 Go Ahead!
        %br
        %button= link_to "Join Now", new_user_registration_path